<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="brief" value="${time} -- ${message}" />
    <variable name="logToPath" value="C:\Logs\SurStore\nLog" />
    <targets>
      <target xsi:type="File" name="usageLogs" fileName="${logToPath}/SurStore_Usage.txt" layout="${brief}" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveFileName="${logToPath}/{#}_SurStore_Usage.txt" maxArchiveFiles="365" />
      <target xsi:type="File" name="errorLogs" fileName="${logToPath}/SurStore_Errors.txt" layout="${longdate} ${level:uppercase=true}  ${logger} | ${message}${newline}${exception:format=tostring}" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveFileName="${logToPath}/{#}_SurStore_Errors.txt" maxArchiveFiles="365" />
      <target xsi:type="File" name="generalLogs" fileName="${logToPath}/SurStore_Gen.txt" layout="${time} ${level:uppercase=true} ${logger} | ${message}" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" archiveFileName="${logToPath}/{#}_SurStore_Gen.txt" maxArchiveFiles="365" />
    </targets>
    <rules>
      <logger name="usage" minlevel="Trace" writeTo="usageLogs" />
      <logger name="errors" minlevel="Trace" writeTo="errorLogs" />
      <logger name="general" minlevel="Info" writeTo="generalLogs" />
    </rules>
  </nlog>
</configuration>